*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;

}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: gray;
}

.sub-container {
    width: 70%;
    height: 70%;
    margin: auto;
    background-color: mediumturquoise;
    border-radius: 25px;
    padding: 20px;

}
header {
    height: 100px;
}

main {
    height: calc(100% - 100px);
}
.add-list {
    margin: 2em 0;
    width: 100%;
    height: 80px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0.7em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.add-list i {
    font-size: 2em;
}

.add-list input {
    background-color: mediumturquoise;
    width: calc(100% - 4em);
    border-style: none;
    outline: none;
}
.list {
    overflow-y: auto;
    height: calc(100% - 150px);
}

.list ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list ul li .text-todo {
    width: calc(100% - 4em);
    margin-bottom: 1.5em;
    border-radius: 20px;
    padding: 0.7em;
    background: rgb(34,22,232);
background: linear-gradient(90deg, rgba(34,22,232,0.2861345221682423) 0%, rgba(242,210,91,0.437395026369923) 77%, rgba(0,202,255,0.062044886313900593) 100%);
}

.list .delete i {
    font-size: 2em;
}