*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;

}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: gray;
}

.sub-container {
    width: 70%;
    height: 70%;
    margin: auto;
    background-color: mediumturquoise;
    border-radius: 25px;
    padding: 20px;

}

.add-list {
    margin: 2em 0;
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0.7em;
    display: flex;
    justify-content: space-around;
}

.add-list i {
    font-size: 2em;
}

.add-list input {
    background-color: mediumturquoise;
    width: calc(100% - 4em);
    border-style: none;
    outline: none;
}

.list ul li {
    margin-bottom: 1.5em;
}